<!--<div ng-controller="mainController">-->
<link href="./assets/css/ctyle.css" rel="stylesheet">
<!--<link href="./assets/css/ctyle1.css" rel="stylesheet">-->


<!--  <li style="float: right"><a href="homePage.html">Login</a></li> -->

<div class="contact-us">

    <img class="img-logo" src="./assets/images/Standard-Chartered.png">

</div>
<div class=" container-fluid">

    <div class="blocker_box2">
        <form class="form-horizontal form-login">
            <div class="form-group">
                <h4 class="form-header">LOGIN</h4>
                <hr>
                <!-- <p align="center">  </p>
<div align="center"> -->
                <div class="inner-body">
                    <!--<div class="blocker_box2">-->
                    <!--<p class="user">Username</p>-->
                    <div class="center-padding">
                        <p class="user">Username: &nbsp;<i class="fa fa-user-circle fa-2x" style="color:blue" aria-hidden="true"></i>&nbsp;

                            <input type="text" placeholder="Username" ng-model="user.username"> </p>
                        <!--<p class="user">Password</p>-->
                        <p class="pass">Password: &nbsp;<i class="fa fa-key fa-2x" style="color:blue" aria-hidden="true"></i>&nbsp;

                            <input type="password" ng-model="user.password" placeholder="Password"> </p>
                    </div>
                    <a>
                        <button type="button" class="btn btn-blue bottom-btns" ng-click="login()"> login </button>
                    </a>
                    <!--</div>-->
                </div>
            </div>
        </form>
    </div>
    <script>


    </script>



    <!--    </div>-->
